{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/parallax_home.css') }}">
</head>

<div class="pimg1">
  <div>
      <img src="{{ url_for('static', filename='images/water_well_png_trans.png') }}" alt="Tanzania: Water Well Analytics" STYLE=
      "position: absolute;
      TOP: 30%;
      LEFT: 170px;
      WIDTH: 300px;
      HEIGHT: 300px;
      z-index: 200;">
  </div>
  <div class="ptext" style = 
    "position: absolute;
    TOP: 40%;
    LEFT: 400px;
    WIDTH: 1000px;
    HEIGHT: 200px;"
  >
    <span class="border">
      Tanzania: Water Well Analytics
    </span>
  </div>
  <div class = "ptext">
    <a href="{{ url_for('upload') }}" class="btn btn-success btn-lg active" role="button" aria-pressed="true" style =
    "position: absolute;
    TOP: 40%;
    LEFT: 530px;">
    Enter the App</a>
  </div>
  <div class = "ptext">
    <a href="{{ url_for('team_page') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style =
    "position: absolute;
    TOP: 40%;
    LEFT: 850px;">
    About the Team</a>
  </div>
  <div class = "ptext">
    <a href="{{ url_for('team_page') }}" class="btn btn-info btn-lg active" role="button" aria-pressed="true" style =
    "position: absolute;
    TOP: 300px;
    LEFT: 610px;">
    The Problem</a>
  </div>
</div>


<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Population Geography (Folium) + Pop. Line Plot
    </span>
  </div>
</div>

<div class="pimg3">
  <div class="ptext">
      <a href="{{ url_for('upload') }}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Enter the App</a>
      <a href="{{ url_for('team_page') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">About the Team</a>
  </div>
</div>
{% endblock %}