{% extends "layout.html" %}
{% set active_page = "team" %}
{% block content %}
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Team Page -->
        <div class="col-sm-5 p-2">
            <div class="card border-0 shadow h-100">
                <img src="/static/images/team_comp.JPG" class="card-img-top"
                    alt="Aniket Pant">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">JCIB ForensX</h5>
                    <div class="card-text text-black-50">The JCIB ForensX team [enter paragraph on team].</div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div>
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div class="">
                            <div class="card border-0 shadow">
                                <img src="static/images/aniket_solo.JPG" class="card-img-top" alt="Aniket Pant">
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Aniket Pant</h5>
                                    <div class="card-text text-black-50">Data Processing and Analytics</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="">
                            <div class="card border-0 shadow">
                                <img src= "static/images/lonnie_solo.JPG" class="card-img-top" alt="Lonnie Webb">
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Lonnie Webb</h5>
                                    <div class="card-text text-black-50">Data Processing and Analytics</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div class="">
                            <div class="card border-0 shadow">
                                <img src="static/images/viraj_solo.JPG" class="card-img-top" alt="Viraj Kacker">
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Viraj Kacker</h5>
                                    <div class="card-text text-black-50">Backend Design</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="">
                            <div class="card border-0 shadow">
                                <img src="static/images/cole_solo.JPG" class="card-img-top" alt="Cole McKee">
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Cole McKee</h5>
                                    <div class="card-text text-black-50">Frontend Design</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}