{% extends "layout.html" %}
{% set active_page = "team" %}
{% block content %}

<!-- Header -->
<header class="bg-primary text-center py-2 mb-4 "style="margin-top: 40px;">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<div class="container pb-4">
    <div class="row" >
        <!-- About Team -->
        <div class="col-sm-5">
            <div class="card border-0 shadow h-100">
                <img src="/static/images/team_comp.JPG" class="card-img-top" alt="JCIB ForensX Team">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">JCIB ForensX</h5>
                    <div class="card-text text-justify text-black-50 pt-1">
                        The JCIB ForensX team was founded in 2017 as a school team housed at the Jefferson County International Baccalaureate (JCIB) school.
                        After recognizing a lack of Computer Science-focused extracurricular activities at the JCIB program, the team formed with the directive of increasing Computer Science engagement within the student body.
                        The ForensX team looks to leverage emerging technology for the positive development of our community. We developed our app, <i>Tanzania: Water Well Analytics</i> to bring awareness to the global issue of water security.
                </div>
                </div>
            </div>
        </div>
        <!-- End About Team-->

        <div class="col-sm-7">
            <div class="row">
                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 1 (Aniket) Front -->
                        <div class="card front shadow ">
                            <img src="static/images/aniket_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Aniket Pant</h4>
                                <p class="card-text">Data Processing and Visualization</p>
                            </div>
                        </div>
                        <!-- End Card 1 Front -->

                        <!-- Card 1 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About Aniket</h5>

                            <!-- <h3 class="card-text">About Me</h3> -->
                            <p class = "text-justify p-3">
                                On the JCIB ForensX team, Aniket handles data processing and visualization-focused workloads. He has experience working with popular Python libraries such as Pandas and Plotly.     
                            </p>
                        </div>
                        <!-- End Card 1 Back -->
                    </div>
                </div>

                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 2 (Lonnie) Front -->
                        <div class="card front shadow">
                            <img src="static/images/lonnie_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Lonnie Webb</h4>
                                <p class="card-text">Data Modeling and Analytics</p>
                            </div>
                        </div>
                        <!-- End Card 2 Front -->

                        <!-- Card 2 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About Lonnie</h5>
                            <div class="card-block">
                                <p class="text-justify p-3">
                                    On the JCIB ForensX team, Lonnie develops robust data modeling and analytics pipelines. With the help of Python modules such as Pandas and Scikit-Learn, Lonnie develops powerful Machine Learning-based pipelines.
                                </p>
                            </div>
                        </div>
                        <!-- End Card 2 Back -->
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: -20px;">
                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 3 (Viraj) Front -->
                        <div class="card front shadow ">
                            <img src="static/images/viraj_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Viraj Kacker</h4>
                                <p class="card-text">UI/UX Design</p>
                            </div>
                        </div>
                        <!-- End Card 3 Front -->

                        <!-- Card 3 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About Viraj</h5>

                            <!-- <h3 class="card-text">About Me</h3> -->
                            <p class = "text-justify p-3">
                                On the JCIB ForensX team, Viraj heads UI/UX Design. With the help of powerful illustration tools such as Adobe Photoshop and Illustrator, Viraj designs robust user interfaces for implementation.
                            </p>
                        </div>
                        <!-- End Card 3 Back -->
                    </div>
                </div>


                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 4 (Cole) Front -->
                        <div class="card front shadow">
                            <img src="static/images/cole_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Cole Mckee</h4>
                                <p class="card-text">Backend/Frontend Design</p>
                            </div>
                        </div>
                        <!-- End Card 4 Front -->

                        <!-- Card 4 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About Cole</h5>
                            <div class="card-block">
                                <p class = "text-justify p-3">
                                    On the JCIB ForensX team, Cole focuses on backend and frontend design. He has experience using HTML, CSS and JS to develop powerful website interfaces.
                                </p>
                            </div>
                        </div>
                        <!-- End Card 4 Back -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "container pt-4">
    <div class = "row">
        <div class="col-sm-4">
            ForensX Image
        </div>
    <div class="col-sm-4">
            JCIB
        </div>
    <div class="col-sm-4">
            Congressional App Challenge Image
        </div>
    </div>
</div>

{% endblock %}