{% extends "layout.html" %}
{% set active_page = "team" %}
{% block content %}

<!-- Header -->
<header class="bg-primary text-center py-4 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<div class="container pb-4">
    <div class="row">
        <!-- Team Page -->
        <div class="col-sm-5">
            <div class="card border-0 shadow">
                <img src="/static/images/team_comp.JPG" class="card-img-top" alt="JCIB ForensX Team">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">JCIB ForensX</h5>
                    <div class="card-text text-black-50">
                        The JCIB ForensX team was founded in 2017, after noticing a lack in Computer Science interest and extra-curriculars at our school. 
                        We have competed in numerous hackathons, Capture-the-Flag events, and programming competitions. 
                        Our team has currently won 3 Hackathons, and placed Top 3 in a programming contest, and placed in numerous world wide Capture-the-Flag events.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="row">
                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 2 Front -->
                        <div class="card front shadow ">
                            <img src="static/images/aniket_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Aniket Pant</h4>
                                <p class="card-text">Data Processing and Analytics</p>
                            </div>
                        </div>
                        <!-- End Card 2 Front -->

                        <!-- Card 2 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About me</h5>

                            <!-- <h3 class="card-text">About Me</h3> -->
                            <p>I have an interest in wanting to yeet myself off a building</p>
                            <p></p>
                        </div>
                        <!-- End Card 2 Back -->
                    </div>
                </div>

                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 2 Front -->
                        <div class="card front shadow">
                            <img src="static/images/lonnie_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Lonnie Webb</h4>
                                <p class="card-text">Data Processing and Analytics</p>
                            </div>
                        </div>
                        <!-- End Card 2 Front -->

                        <!-- Card 2 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About me</h5>
                            <div class="card-block">
                                <p class="card-body text-center">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                        <!-- End Card 2 Back -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 2 Front -->
                        <div class="card front shadow ">
                            <img src="static/images/viraj_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Viraj Kacker</h4>
                                <p class="card-text">Backend/Frontend Design</p>
                            </div>
                        </div>
                        <!-- End Card 2 Front -->

                        <!-- Card 2 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About me</h5>

                            <!-- <h3 class="card-text">About Me</h3> -->
                            <p>I have an interest in wanting to yeet myself off a building</p>
                            <p></p>
                        </div>
                        <!-- End Card 2 Back -->
                    </div>
                </div>


                <div class="col-md-6 card-container">
                    <div class="card-flip">
                        <!-- Card 2 Front -->
                        <div class="card front shadow">
                            <img src="static/images/cole_solo.JPG" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">Cole Mckee</h4>
                                <p class="card-text">Backend/Frontend Design</p>
                            </div>
                        </div>
                        <!-- End Card 2 Front -->

                        <!-- Card 2 Back -->
                        <div class="card back shadow text-center">
                            <h5 class="card-header">About me</h5>
                            <div class="card-block">
                                <p class="card-body text-center">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                        <!-- End Card 2 Back -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}